/* การใช้งาน HTML Semantic Elements  */

/* ในการเขียน HTML เมื่อก่อนมักจะจัดโครงสร้างโดยการใช้ tag div แล้ว ค่อยกําหนด class 
แต่ปัจจุบันใน HTML5 เราสามารถใช้ Semantic Elements ได้
*/

/* Semantic Elements คือ tag ที่มีความหมายในตัวมันเอง เช่น  header nav section footer*/

*{
    margin: 0;
    padding: 0;
}

.container{
    width: 960px; 
    margin: 0 auto; /* เอาไว้จัดกึ่งกลาง*/
}
nav{
    background: rgb(236, 140, 140);
    color: azure;
    height: 60px;
    display: flex; /* ทําให้ ตัว About Service และ Contact ขึ้นมาต่อกับ class logo หรือคําว่า Time Walker*/
    justify-content: space-between; /* ทําให้ logo ชิดขวา ส่วนตัว  ตัว About Service และ Contact ชิดซ้าย */
    align-items: center;
    padding: 0 4rem;    /* เป็นปรับ padding แบบไม่ต้องเขียนเต็ม ในที่นี้หมายถึง บน-ล่าง คือ 0 ซ้าย-ขวา คือ 4rem*/

}

ul.menu { /* เข้าถึง ul ที่มี class เป็น menu*/

    display: flex;/*  ทําให้ ตัว About Service และ Contact ขึ้นมาต่อกันเอง*/
    list-style: none;

}

ul.menu  li{ /* เข้าถึง li จาก ul ที่มี class เป็น menu*/

    margin: 10px; /* ต้องการเพิ่มพื้นที่ระหว่าง li*/
    
    
}

ul.menu li a{ /* เข้าถึง a จาก li ที่่มาจาก ul ที่มี class เป็น menu*/
    
    color: whitesmoke;
    text-decoration: none; /* ลบเส้นใต้ link ออก*/

}

header{
    height: 400px;
    /* border: 2px solid red; */
    background: url("https://images.unsplash.com/photo-1556928045-16f7f50be0f3?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1051&q=80")
    no-repeat;
    background-size: cover; 
    overflow: hidden; /*แก้ปัญหาใช้ margin-top แล้วสุดท้ายไม่ต้องการให้้มีพื้นที่ด้านบนเหลือ ควรใส่ overflow:hidden นี้ที่ กล่อง parent  */

}

.header-info{
    /* border: 1px solid black; */
    width: 500px;
    margin-top: 40px;
    margin-left: 40px;
}

.header-info h1{
    font-size: 2rem;
}

.header-info p{
    margin: 1rem 0; /* ปรับ margin ของ tag p ให้ บน-ล่าง คือ 1rem ส่วน ซ้าย-ขวา คือ 0*/
    line-height: 1.5; /* line-height คือความสูงระหว่างบรรทัด*/
}

.header-info a{

    color: brown;
    border:1px solid brown ; 
    padding: 1rem 1rem;
    display: inline-block; 
    text-decoration: none;
}

main{
    padding: 3rem 0;   
}

main h1{
    text-align: center; 
    margin-bottom: 1rem; 

}

.picture{
    margin-top: 1rem;
    display: flex; /* ทํารูปภาพ พร้อมทั้ง คําบรรยายภาพ ขึ้นมาต่อกัน*/
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem

}

.picture figure img{
    width: 100%;
    height: 300px;

}

footer{
    background: rgb(226, 119, 119);
    text-align: center;
    padding: 20px;
}